<article class="divide-y divide-slate-100 dark:divide-slate-800 -mt-8 mb-4"></article>
	<section class="py-8">
		<h2 class="text-lg font-semibold mb-2">Brief</h2>
		<div class="text-slate-500 dark:text-slate-400 space-y-4">
		The client is looking to review and revamp the information architecture, user experience and user interface design of <strong class="text-slate-900 dark:text-slate-200 font-medium">The Markyk Corp.</strong>, a web application that connects landlords and tenants across Europe and America.
		</div>
	</section>
	<section class="py-8">
		<h2 class="text-lg font-semibold mb-5">Details</h2>
		<ul class="grid gap-4 min-[480px]:grid-cols-3 text-sm">
			<li class="px-5 py-4 rounded-lg bg-gradient-to-tr from-slate-950 to-slate-800 dark:from-slate-800/80 dark:to-slate-900">
				<div class="text-slate-200 font-medium">Project Length</div>
				<div class="text-slate-400">4-8 Weeks</div>
			</li>
			<li class="px-5 py-4 rounded-lg bg-gradient-to-tr from-slate-950 to-slate-800 dark:from-slate-800/80 dark:to-slate-900">
				<div class="text-slate-200 font-medium">Start Date</div>
				<time class="text-slate-400">27 Jun, 2024</time>
			</li>
			<li class="px-5 py-4 rounded-lg bg-gradient-to-tr from-slate-950 to-slate-800 dark:from-slate-800/80 dark:to-slate-900">
				<div class="text-slate-200 font-medium">End Date</div>
				<time class="text-slate-400">27 Aug, 2024</time>
			</li>
		</ul>
	</section>
	<section class="py-8">
		<h2 class="text-lg font-semibold mb-5">Costs Breakdown</h2>
		<div class="overflow-x-auto">
			<table class="table-auto w-full text-sm">
			<thead class="sr-only">
			<tr>
			<th>Description</th>
			<th scope="col">Cost</th>
			</tr>
			</thead>
			<tbody>
			<tr class="group odd:bg-gradient-to-tr from-slate-100 to-slate-50 dark:from-slate-800/80 dark:to-slate-900">
			<th scope="row" class="relative text-left font-normal px-4 py-5 first:rounded-l-lg last:rounded-r-lg after:w-px after:h-8 after:bg-slate-200 dark:after:bg-slate-800 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 group-hover:after:opacity-0 after:transition-opacity">
					<div class="font-semibold mb-0.5">
							<a class="before:absolute before:inset-0 before:z-20 before:rounded-lg" href="details.html">
									Competitive Analysis
							</a>
					</div>
					<p class="text-slate-500 dark:text-slate-400">The client is looking to review the information.</p>
			</th>
			<td class="relative font-semibold text-right px-4 py-5 first:rounded-l-lg last:rounded-r-lg w-[1%] after:content-['Details_->'] after:absolute after:inset-0 after:pr-4 after:flex after:items-center after:justify-end after:pointer-events-none after:bg-gradient-to-l after:from-white group-odd:after:from-slate-50 dark:after:from-slate-950 group-odd:dark:after:from-slate-900 after:to-50% after:rounded-lg after:text-blue-500 after:font-medium after:tracking-normal after:whitespace-nowrap after:opacity-0 group-hover:after:opacity-100 after:transition">
					<a class="group-hover:opacity-0 transition-opacity before:absolute before:inset-0 before:z-20 before:rounded-lg" href="details.html" tabindex="-1">$7,800</a>
			</td>
			</tr>
			<tr class="group odd:bg-gradient-to-tr from-slate-100 to-slate-50 dark:from-slate-800/80 dark:to-slate-900">                                         
			<th scope="row" class="relative text-left font-normal px-4 py-5 first:rounded-l-lg last:rounded-r-lg">
					<div class="font-semibold mb-0.5">
							<a class="before:absolute before:inset-0 before:z-20 before:rounded-lg" href="details.html">UX Research Reports</a>
					</div>
					<p class="text-slate-500 dark:text-slate-400">The client is looking to review the information.</p>
			</th>
			<td class="relative font-semibold text-right px-4 py-5 first:rounded-l-lg last:rounded-r-lg w-[1%] after:content-['Details_->'] after:absolute after:inset-0 after:pr-4 after:flex after:items-center after:justify-end after:pointer-events-none after:bg-gradient-to-l after:from-white group-odd:after:from-slate-50 dark:after:from-slate-950 group-odd:dark:after:from-slate-900 after:to-50% after:rounded-lg after:text-blue-500 after:font-medium after:tracking-normal after:whitespace-nowrap after:opacity-0 group-hover:after:opacity-100 after:transition">
					<a class="group-hover:opacity-0 transition-opacity before:absolute before:inset-0 before:z-20 before:rounded-lg" href="details.html" tabindex="-1">$2,560</a>
			</td>
			</tr>
			<tr class="group odd:bg-gradient-to-tr from-slate-100 to-slate-50 dark:from-slate-800/80 dark:to-slate-900">                                         
			<th scope="row" class="relative text-left font-normal px-4 py-5 first:rounded-l-lg last:rounded-r-lg">
					<div class="font-semibold mb-0.5">
							<a class="before:absolute before:inset-0 before:z-20 before:rounded-lg" href="details.html">Sitemap and Information Architecture</a>
					</div>
					<p class="text-slate-500 dark:text-slate-400">The client is looking to review the information.</p>
			</th>
			<td class="relative font-semibold text-right px-4 py-5 first:rounded-l-lg last:rounded-r-lg w-[1%] after:content-['Details_->'] after:absolute after:inset-0 after:pr-4 after:flex after:items-center after:justify-end after:pointer-events-none after:bg-gradient-to-l after:from-white group-odd:after:from-slate-50 dark:after:from-slate-950 group-odd:dark:after:from-slate-900 after:to-50% after:rounded-lg after:text-blue-500 after:font-medium after:tracking-normal after:whitespace-nowrap after:opacity-0 group-hover:after:opacity-100 after:transition">
					<a class="group-hover:opacity-0 transition-opacity before:absolute before:inset-0 before:z-20 before:rounded-lg" href="details.html" tabindex="-1">$1,420</a>
			</td>
			</tr>
			<tr class="group odd:bg-gradient-to-tr from-slate-100 to-slate-50 dark:from-slate-800/80 dark:to-slate-900">                                         
			<th scope="row" class="relative text-left font-normal px-4 py-5 first:rounded-l-lg last:rounded-r-lg">
					<div class="font-semibold mb-0.5">
							<a class="before:absolute before:inset-0 before:z-20 before:rounded-lg" href="details.html">UX Wireframes and User Flows</a>
					</div>
					<p class="text-slate-500 dark:text-slate-400">The client is looking to review the information.</p>
			</th>
			<td class="relative font-semibold text-right px-4 py-5 first:rounded-l-lg last:rounded-r-lg w-[1%] after:content-['Details_->'] after:absolute after:inset-0 after:pr-4 after:flex after:items-center after:justify-end after:pointer-events-none after:bg-gradient-to-l after:from-white group-odd:after:from-slate-50 dark:after:from-slate-950 group-odd:dark:after:from-slate-900 after:to-50% after:rounded-lg after:text-blue-500 after:font-medium after:tracking-normal after:whitespace-nowrap after:opacity-0 group-hover:after:opacity-100 after:transition">
					<a class="group-hover:opacity-0 transition-opacity before:absolute before:inset-0 before:z-20 before:rounded-lg" href="details.html" tabindex="-1">$3,978</a>
			</td>
			</tr>
			<tr class="group odd:bg-gradient-to-tr from-slate-100 to-slate-50 dark:from-slate-800/80 dark:to-slate-900">                                         
			<th scope="row" class="relative text-left font-normal px-4 py-5 first:rounded-l-lg last:rounded-r-lg">
					<div class="font-semibold mb-0.5">
							<a class="before:absolute before:inset-0 before:z-20 before:rounded-lg" href="details.html">Visual Design</a>
					</div>
					<p class="text-slate-500 dark:text-slate-400">The client is looking to review the information.</p>
			</th>
			<td class="relative font-semibold text-right px-4 py-5 first:rounded-l-lg last:rounded-r-lg w-[1%] after:content-['Details_->'] after:absolute after:inset-0 after:pr-4 after:flex after:items-center after:justify-end after:pointer-events-none after:bg-gradient-to-l after:from-white group-odd:after:from-slate-50 dark:after:from-slate-950 group-odd:dark:after:from-slate-900 after:to-50% after:rounded-lg after:text-blue-500 after:font-medium after:tracking-normal after:whitespace-nowrap after:opacity-0 group-hover:after:opacity-100 after:transition">
					<a class="group-hover:opacity-0 transition-opacity before:absolute before:inset-0 before:z-20 before:rounded-lg" href="details.html" tabindex="-1">$4,476</a>
			</td>
			</tr>
			<tr class="group odd:bg-gradient-to-tr from-slate-100 to-slate-50 dark:from-slate-800/80 dark:to-slate-900">                                         
			<th scope="row" class="relative text-left font-normal px-4 py-5 first:rounded-l-lg last:rounded-r-lg">
					<div class="font-semibold mb-0.5">
							<a class="before:absolute before:inset-0 before:z-20 before:rounded-lg" href="details.html">Interactive Prototypes + Assets Exports</a>
					</div>
					<p class="text-slate-500 dark:text-slate-400">The client is looking to review the information.</p>
			</th>
			<td class="relative font-semibold text-right px-4 py-5 first:rounded-l-lg last:rounded-r-lg w-[1%] after:content-['Details_->'] after:absolute after:inset-0 after:pr-4 after:flex after:items-center after:justify-end after:pointer-events-none after:bg-gradient-to-l after:from-white group-odd:after:from-slate-50 dark:after:from-slate-950 group-odd:dark:after:from-slate-900 after:to-50% after:rounded-lg after:text-blue-500 after:font-medium after:tracking-normal after:whitespace-nowrap after:opacity-0 group-hover:after:opacity-100 after:transition">
					<a class="group-hover:opacity-0 transition-opacity before:absolute before:inset-0 before:z-20 before:rounded-lg" href="details.html" tabindex="-1">$4,326</a>
			</td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
			<th scope="row" class="relative text-left font-normal px-4 py-5">
					<p class="text-slate-500 italic">TOT in USD dollar</p>
			</th>
			<td class="relative font-semibold text-right text-emerald-500 text-base underline px-4 py-5 w-[1%]">$24,560</td>
			</tr>
			</tfoot>
			</table>
		</div>
	</section>
	<section class="py-8">
	<h2 class="text-lg font-semibold mb-5">Project Terms</h2>
	<!-- Accordion -->
	<div class="space-y-3">
	<!-- Accordion item -->
	<div x-data="{ expanded: false }" class="text-sm odd:bg-gradient-to-tr from-slate-100 to-slate-50 dark:from-slate-800/80 dark:to-slate-900 rounded-lg">
	<h3>
	<button 
	id="terms-title-01"
	type="button"
	class="flex items-center justify-between w-full text-left font-medium px-5 py-3"
	@click="expanded = !expanded"
	:aria-expanded="expanded"
	aria-controls="terms-text-01"
	>
	<span>Payment schedule and options</span>
	<svg class="fill-slate-400 dark:fill-slate-500 shrink-0 ml-8" width="12" height="12" xmlns="http://www.w3.org/2000/svg">
			<rect y="5" width="12" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
			<rect y="5" width="12" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
	</svg>
	</button>
	</h3>
	<div
	id="terms-text-01"
	role="region"
	aria-labelledby="terms-title-01"
	class="grid text-slate-500 dark:text-slate-400 overflow-hidden transition-all duration-300 ease-in-out"
	:class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
	>
	<div class="overflow-hidden">
	<p class="px-5 pb-3">
			Defining the project scope is a collaborative effort with my client. Together, we establish key features, functionalities, and any constraints that will shape the design process. This clarity ensures that we are aligned and working towards the same goals.
	</p>
	</div>
	</div>
	</div>
	<!-- Accordion item -->
	<div x-data="{ expanded: false }" class="text-sm odd:bg-gradient-to-tr from-slate-100 to-slate-50 dark:from-slate-800/80 dark:to-slate-900 rounded-lg">
	<h3>
	<button 
	id="terms-title-02"
	type="button"
	class="flex items-center justify-between w-full text-left font-medium px-5 py-3"
	@click="expanded = !expanded"
	:aria-expanded="expanded"
	aria-controls="terms-text-02"
	>
	<span>Deadlines and timeline</span>
	<svg class="fill-slate-400 dark:fill-slate-500 shrink-0 ml-8" width="12" height="12" xmlns="http://www.w3.org/2000/svg">
			<rect y="5" width="12" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
			<rect y="5" width="12" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
	</svg>
	</button>
	</h3>
	<div
	id="terms-text-02"
	role="region"
	aria-labelledby="terms-title-02"
	class="grid text-slate-500 dark:text-slate-400 overflow-hidden transition-all duration-300 ease-in-out"
	:class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
	>
	<div class="overflow-hidden">
	<p class="px-5 pb-3">
			Defining the project scope is a collaborative effort with my client. Together, we establish key features, functionalities, and any constraints that will shape the design process. This clarity ensures that we are aligned and working towards the same goals.
	</p>
	</div>
	</div>
	</div>  
	<!-- Accordion item -->
	<div x-data="{ expanded: false }" class="text-sm odd:bg-gradient-to-tr from-slate-100 to-slate-50 dark:from-slate-800/80 dark:to-slate-900 rounded-lg">
	<h3>
	<button 
	id="terms-title-03"
	type="button"
	class="flex items-center justify-between w-full text-left font-medium px-5 py-3"
	@click="expanded = !expanded"
	:aria-expanded="expanded"
	aria-controls="terms-text-03"
	>
	<span>Kill fee and cancellation terms</span>
	<svg class="fill-slate-400 dark:fill-slate-500 shrink-0 ml-8" width="12" height="12" xmlns="http://www.w3.org/2000/svg">
			<rect y="5" width="12" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
			<rect y="5" width="12" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
	</svg>
	</button>
	</h3>
	<div
	id="terms-text-03"
	role="region"
	aria-labelledby="terms-title-03"
	class="grid text-slate-500 dark:text-slate-400 overflow-hidden transition-all duration-300 ease-in-out"
	:class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
	>
	<div class="overflow-hidden">
	<p class="px-5 pb-3">
			Defining the project scope is a collaborative effort with my client. Together, we establish key features, functionalities, and any constraints that will shape the design process. This clarity ensures that we are aligned and working towards the same goals.
	</p>
	</div>
	</div>
	</div>  
	<!-- Accordion item -->
	<div x-data="{ expanded: false }" class="text-sm odd:bg-gradient-to-tr from-slate-100 to-slate-50 dark:from-slate-800/80 dark:to-slate-900 rounded-lg">
	<h3>
	<button 
	id="terms-title-04"
	type="button"
	class="flex items-center justify-between w-full text-left font-medium px-5 py-3"
	@click="expanded = !expanded"
	:aria-expanded="expanded"
	aria-controls="terms-text-04"
	>
	<span>Ownership/copyright</span>
	<svg class="fill-slate-400 dark:fill-slate-500 shrink-0 ml-8" width="12" height="12" xmlns="http://www.w3.org/2000/svg">
			<rect y="5" width="12" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
			<rect y="5" width="12" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
	</svg>
	</button>
	</h3>
	<div
	id="terms-text-04"
	role="region"
	aria-labelledby="terms-title-04"
	class="grid text-slate-500 dark:text-slate-400 overflow-hidden transition-all duration-300 ease-in-out"
	:class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
	>
	<div class="overflow-hidden">
	<p class="px-5 pb-3">
			Defining the project scope is a collaborative effort with my client. Together, we establish key features, functionalities, and any constraints that will shape the design process. This clarity ensures that we are aligned and working towards the same goals.
	</p>
	</div>
	</div>
	</div>  
	<!-- Accordion item -->
	<div x-data="{ expanded: false }" class="text-sm odd:bg-gradient-to-tr from-slate-100 to-slate-50 dark:from-slate-800/80 dark:to-slate-900 rounded-lg">
	<h3>
	<button 
	id="terms-title-05"
	type="button"
	class="flex items-center justify-between w-full text-left font-medium px-5 py-3"
	@click="expanded = !expanded"
	:aria-expanded="expanded"
	aria-controls="terms-text-05"
	>
	<span>Equipment and expenses</span>
	<svg class="fill-slate-400 dark:fill-slate-500 shrink-0 ml-8" width="12" height="12" xmlns="http://www.w3.org/2000/svg">
			<rect y="5" width="12" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
			<rect y="5" width="12" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
	</svg>
	</button>
	</h3>
	<div
	id="terms-text-05"
	role="region"
	aria-labelledby="terms-title-05"
	class="grid text-slate-500 dark:text-slate-400 overflow-hidden transition-all duration-300 ease-in-out"
	:class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
	>
	<div class="overflow-hidden">
	<p class="px-5 pb-3">
			Defining the project scope is a collaborative effort with my client. Together, we establish key features, functionalities, and any constraints that will shape the design process. This clarity ensures that we are aligned and working towards the same goals.
	</p>
	</div>
	</div>

	</div>

	</div>
	</section>
</article>